# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.log

# Virtual environments
/venv/
/env/
/my_scraper_env/

# IDEs and text editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebooks
.ipynb_checkpoints/

# Conda environments
environment.yml
*.yml

# system files
.DS_Store
Thumbs.db
